@charset "utf-8";
/* CSS Document */
*{ 
	margin: 0; padding: 0;
 }
 
 	html, body { 
 		height: 100%;
	 }
	 
	#wrap { 
		min-height: 100%;
	} 
	 
	#main {
		overflow: auto;
		padding-bottom: 50px;
		text-align: center;
		}
/* Altura en px del footer */
	#footer {
		position: relative;
		margin-top: -50px;
		
		/* altura en px del footer con valor negativo */
		height: 50px;
		
		/* Altura del Footer en px*/
		clear: both; background: #286af0;
		text-align: center; color: #FFFFFF;
		}

/*Opera Fix*/
		body:before { content: "";
		height: 100%;
		float: left;
		width: 0;
		margin-top: -32767px

/* Efecto Negativo para OPERA*/
}
